body{margin:0px;padding:0px}
.popup{
    height:400px;
    width:500px;
   position: fixed;
    
    top:150px;
    left:calc(50% - 250px);
    box-shadow: 0px 0px 13px 2px lightgray;

    -webkit-animation-name: example; /* Safari 4.0 - 8.0 */
    -webkit-animation-duration: 1s; /* Safari 4.0 - 8.0 */
    animation-name: example;
    animation-duration: 1s;
    z-index: 10;
    background: white;
}
/* Safari 4.0 - 8.0 */
@-webkit-keyframes example {
    from {top:0px;}
    to {top:150px;}
  }
  
  /* Standard syntax */
  @keyframes example {
    from {top:0px;}
    to {top:150px;}
  }


.fr{
     display: flex;
     flex-direction: row;
}

.fc{
    display: flex;
    flex-direction: column;
}
.center{
    justify-content:center;
}
.left{
    justify-content: flex-start;
}
.right{
    justify-content: flex-end;
}
.sb{
    justify-content: space-between;
}
.sa{
    justify-content:space-around;
}

.ml-5{margin-left:5px;}
.ml-10{margin-left:10px;}
.ml-15{margin-left:15px;}
.ml-20{margin-left:20px;}
.ml-25{margin-left:25px;}
.ml-30{margin-left:30px;}

.mr-5{margin-right:5px;}
.mr-10{margin-right:10px;}
.mr-15{margin-right:15px;}
.mr-20{margin-right:20px;}
.mr-25{margin-right:25px;}
.mr-30{margin-right:30px;}

.pl-5{padding-left:5px;}
.pl-10{padding-left:10px;}
.pl-15{padding-left:15px;}
.pl-20{padding-left:20px;}
.pl-25{padding-left:25px;}
.pl-30{padding-left:30px;}

.pr-5{padding-right:5px;}
.pr-10{padding-right:10px;}
.pr-15{padding-right:15px;}
.pr-20{padding-right:20px;}
.pr-25{padding-right:25px;}
.pr-30{padding-right:30px;}


.in-search{ 
    height:30px;
    max-width:200px;
    border-radius: 5px;
    outline: 0;
    border:0;
    opacity:0.9;
    box-sizing: border-box;
    padding-left: 5px;
}
.hov:hover >.popup{
    display:block;
} 
.hov:hover{
   background:  rgb(119, 172, 148);
    cursor: pointer;
    color:#ADEFD1FF;
}

.bg-color{
    background: #496076;}
.f-color{
color:#ADEFD1FF;
}



